#wrapper{
    display: grid;
    grid-template-rows: 100px 1fr 25px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "header header"
    "pokedexContainer pokemonList"
    "footer footer";
    width: 100%;
    min-height: 700px;
    height: 95vh;
    background-color: tomato;
}
.header{grid-area: header;}
.pokedex-container{grid-area: pokedexContainer;}
.pokemon-list{grid-area: pokemonList;}
footer{grid-area: footer;}